#descubrir {
    margin-top: 15vh;
    h3 {
        text-align: center;
        margin: 0 10vw;
        line-height: 40px;
    }
}

.discover-items {
    display: inline;
    padding-top: 50px;
    text-align: center;
    img {
        margin: 0 auto;
    }
    strong {
        display: block;
        padding: 2em;
    }
}