#funcy-social {
    @include social-desktop;
    @include social-tablet;
    text-align: center;
    .panel-body {
        display: flex;
        flex-direction: column;
    }
    .panel-footer {
        background-color: transparent;
    }
    .btn-facebook {
        background-color: #5576B0;
        color: white;
        margin-bottom: 1.5vh;
    }
    .btn-twitter {
        background-color: #49AEED;
        color: white;
    }
    button {
        height: 45px;
    }
    small {
        padding-bottom: 3vh;
    }
    
}