#funcy-social {
    text-align: center;
    .panel-footer {
        background-color: transparent;
    }
}

.btn-facebook {
    background-color: #5576B0;
    color: white;
}

.btn-twitter {
    background-color: #49AEED;
    color: white;
}