#mapa {
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    h3 {
        padding-bottom: 5vh;
    }
    iframe {
        width: 98vw;
        height: 50vh;
        border: none;
        pointer-events: none;
    }
}