#navbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0 auto;
    padding: 20px 20px;
}

.dropdown {
    padding-left: 5vh;
}