#platforms {
    background-color: white;
    width: 100%;
    padding: 10vh 0;
    img {
        padding-right: 5vw;
    }
    .col-lg-3 {
        padding-top: 5vh;
        h3 {
            padding-bottom: 3vh;
        }
    }
}