#platforms {
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    img {
        padding-right: 5vw;
    }
    .col-lg-3 {
        padding-top: 5vh;
        h3 {
            padding-bottom: 3vh;
        }
    }
}