// normalize, variables y responsive siempre se importan los primeros
@import 'normalize';
@import 'variables';
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'responsive';
@import 'discover';
@import 'funcy-social';
@import 'home';
@import 'join-us';
@import 'map';
@import 'nav';
@import 'platforms';
@import 'product';
@import 'trending-list';

body {
    font-family: sans-serif;
    background-color: #e7eaee;
}

.index-body {
    padding-top: 10vh;
}